---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$basicFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin responsive($size:default, $constrain:false) {
  @if $size == xs {
    @media (max-width: 767px) { @content; }
  }
  @else if $size == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $size == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $size == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else if $size == xl {
    @media (min-width: 1700px)  { @content; }
  }
  @else if $size == default {
    @content;
  }
  @else {
    @media (min-width: #{$size}) { @content; }
  }
}

//html, body {
//  height: 100%;
//  width: 100%;
//}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  .section-title {
    .section-title-inner {
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      background-color: black;
      font-size: 30px;
      display: inline-block;
      width: auto;
    }
  }

  @include responsive(lg) {
    .section-title {
      margin-left: -80px;

      .section-title-inner {
        padding-left: 55px;      
      }
    }
  }

  section {
    border: 0px;
    padding: 0px;
    text-align: left;
    margin-top: 30px;
  }

  .section-content {
    margin-top: 20px;
  }

 @include responsive(sm) {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  font-family: Impact, "Arial Black", "Arial Bold", Gadget, sans-serif; 
  color: black;

  a {
    color: black;
    text-decoration: none;
    outline: none;
  }

  #poetry {
    // padding-top: 10px;
  }

  .entry {
    margin-top: 0px;
    display: block;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .entry-title {
      font-size: 22px;
    }

    .entry-subtitle {
      font-family: $basicFont; 
      font-size: 13px;
      font-style: italic;
      margin-left: 3px;
    }

    .entry-title, .entry-subtitle {
      display: block;
    }

    @include responsive(sm) {
      width: 50%;
      float: left;

      .entry-title, .entry-subtitle {
        display: inline;
      }
    }
  }

  #nav-container {
    position: relative;
  }

  #nav {
    padding-left: 0px;
    position: static;
    text-align: justify;
    width: 100%;
    height: 23px;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;    
    }

    li {
      display: inline;
      font-size: 19px;
      list-style-type: none;
    }

    @include responsive(sm) {
      display: inline;
      position: absolute;
      right: 0px;
      bottom: 0px;
      margin: 0px;
      margin-bottom: 4px;
      padding-left: 40px;
      width: auto;

      li {
        padding-left: 8px;
        margin-left: 15px; 
      }

      &:after {
        width: auto;
      }
    }
 }

  #video {
    .block-videos, .inline-videos {
      .video {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10px;

        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

    @include responsive(sm) {
      .inline-videos {
        .video {
          display: inline-block;
          float: left;
          margin-left: 10px;
          height: 146px;
          margin-top: 0px;
          width: auto;

          &:first-of-type {
            margin-left: 0px;
          }
        }
      }
   }
 }

  #photos {
    .photo-series {
      display: block;
      width: 100%;
      
      img {
        width: 100%;
      }

      &.badlands {
        margin-bottom: 10px;
      }

      @include responsive(sm) {
        width: auto;
      }
    }
  }

  #about, #bio {
     .section-content {
       font-family: $basicFont;
     }
   }

  #cv .cv-section {
    font-family: $basicFont;

    :first-of-type {
      margin-top: 15px;
    }
  }
}

.lb-data .lb-details {
  display: none;
}

#main {
  position: relative;

  .name-img {
    width: 100%;
    height: auto;
    display: inline-block;

    img {
      width: 100%;
    }

    @include responsive(sm) {
      height: 50px;
      width: auto;
      margin-left: -58px;
      position: relative;
      top: 2px;
    }
 }

  .title-img-container {
    position: relative;
  }

  .title-img {
    width: 100%;
    height: auto;

    @include responsive(sm) {
      width: 800px;
      height: 530px;
    }
  }

  .margin-img {
    display: none;
    position: absolute;
    left: -30px;
 
    @include responsive(sm) {
      display: inline-block;
    }    
 }

 .horizontal-img {
    width: 100%;
  }

}

.low-contact {
  img {
    display: inline-block;
    width: 100%;

    @include responsive(sm) {
      width: auto;
    }
  }
}

section#footer{
  text-align: center;

  .copyright {
    font-family: $basicFont; 
    font-size: 12px;
    margin-top: 5px;
  }
}

section#extra {
  .section-content {
    font-family: $basicFont;
    font-size: 14px;
  }

  .attribution {
    margin-left: 30px;
  }
}

section#email {
  .section-content {
    font-family: $basicFont;
    font-size: 18px;
  }
}

.social-media-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  img {
    height: 30px;
  }

  &.sm-vertical {
    display: none;
    @include responsive(sm) {
      display: block;
      position: absolute;
      right: -50px;
      top: 0px;
    }

    li {
      margin-bottom: 4px;
    }
  }

  &.sm-horizontal {
    ul {
      display: inline-block;
    }

    li {
      display: inline-block;
      margin-right: 4px;
    }
  }
}


#books {
  .book-container {
    display: block;
    text-align: center;
    width: 100%;  

    img {
      display: inline-block;
    }

    .book-description {
      font-family: $basicFont;
      font-size: 10pt;
      text-align: center;

      a {
        font-weight: bold;
      }
    }

    @include responsive(sm) {
      display: inline-block;
      text-align: left;
      vertical-align: text-top;
      margin-right: 36px;

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.poem-section {
  .poem-title, p {
    font-family: $basicFont;
  }

  .poem-title {
    font-size: 28px;
  }

  p {
    font-size: 11pt;
  }

  .epigraph {
    font-size: 9pt;
    padding: 10px 50px;
  }

  .attribution {
    padding-left: 50px;
  }
}

.interview-section {
  p {
    font-family: $basicFont;
  }

  .interview-question {
    font-weight: bold;
    font-style: italic;
  }
}
