---
layout: default
permalink: /
title: Kai Carlson-Wee - Poet
main_img: index.jpg
---


{% include poetry.html %}

{% include videos.html %}

{% include interviews.html %}

{% include photos.html %}

<div>
  <a href='/contact' class='low-contact'>
    <img src="/assets/low-contact-xx.jpg"></img>
  </a>
</div>

{% include photos-container.html %}

<script type="text/javascript" src="/js/badlands.js"></script>
<script type="text/javascript" src="/js/great-northern.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
